<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item drk active">
      <img src="../../assets/carousel/blackjack.jpeg" alt="BlackJack">
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>Sign up and receive free credit on your account</h1>
          <p><a class="btn btn-lg btn-dark" href="#">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item drk">
      <img src="../../assets/carousel/casinofloor.jpeg" alt="BlackJack" >
      <div class="container">
        <div class="carousel-caption">
          <h1>Join one of the many tables we have available</h1>
          <p><a class="btn btn-lg btn-dark" href="#">See tables</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item drk">
      <img src="../../assets/carousel/highroller.jpeg" alt="BlackJack">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Become a High Roller member and receive great discounts and gifts</h1>
          <p><a class="btn btn-lg btn-dark" href="#">Become High Roller</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
