<header class="p-3 bg-light text-black">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
        <img src="assets/logo.png" alt="logo" width="50">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-black fs-5 fw-bold"><img src="assets/icons/person.svg" height="25"/> Profile</a></li>
        <li><a href="#" class="nav-link px-2 text-black fs-5 fw-bold"><img src="assets/icons/suit-heart.svg" height="25"/> Tables</a></li>
        <li><a href="#" class="nav-link px-2 text-black fs-5 fw-bold"><img src="assets/icons/suit-diamond.svg" height="25"/> Rules</a></li>
        <li><a href="#" class="nav-link px-2 text-black fs-5 fw-bold"><img src="assets/icons/suit-club.svg" height="25"/> Instant Join</a></li>
        <li><a href="#" class="nav-link px-2 text-black fs-5 fw-bold"><img src="assets/icons/cash-coin.svg" height="25"/> Buy Chips</a></li>
      </ul>

      <div class="text-end">
        <button type="button" class="btn btn-outline-dark me-2">Login</button>
        <button type="button" class="btn btn-outline-dark me-2">Sign-up</button>
      </div>
    </div>
  </div>
</header>
