<div class="navbar-background">
  <div class="home">
    <button class="homebutton">Home</button>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Item</button>
    <div class="dropdown-content">
      <a href="">Item 1</a>
      <a href="#">Item 2</a>
      <a href="#">Item 3</a>
    </div>
  </div>

  <div class="play">
    <button class="playbutton">Item</button>
  </div>
  <div class="myaccount">
    <button class="myaccountbtn">Item</button>
  </div>

  <div class="login" style="float:right">
    <button class="login-right">Log in</button>
  </div>

  <div class="signup" style="float:right">
    <button class="signup-right">Sign up</button>
  </div>
</div>







