<div class="container px-4 py-5" id="custom-cards">
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
           style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/cards/gameTable.jpeg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Check out all available tables</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <a href="#">
                <svg class="bi" width="32" height="32" fill="white">
                  <use href="assets/icons/bootstrap-icons.svg#chevron-right"/>
                </svg>
              </a>
            </li>
            <li class="d-flex align-items-center me-3">
              <small>{{ 'Available Tables' }}</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
           style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/cards/tournament.jpeg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Current and upcoming tournaments</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <a href="#">
                <svg class="bi" width="32" height="32" fill="white">
                  <use href="assets/icons/bootstrap-icons.svg#chevron-right"/>
                </svg>
              </a>
            </li>
            <li class="d-flex align-items-center me-3">
              <small>{{ 'Upcoming Tournament' }}</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
           style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/cards/rules.jpeg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Rules and instructions</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <a href="#">
                <svg class="bi" width="32" height="32" fill="white">
                  <use href="assets/icons/bootstrap-icons.svg#chevron-right"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
